.product-info img {
    margin: auto;
    width: 7.5em;
}

.product-info .product-name {
    font-size: xx-large;
}

.product-info .hilighted {
    color: yellow;
}

.product-info .padding-left {
    padding-left: 2em;
}

.product-info .padding-right {
    padding-right: 2em;
}